:root {
	--primary-color: #6610F2;
    --primary-light-color: #AB77FF;
	--secondary-color: rgb(194, 194, 194);
    --white-color: #FFF;
    --black-color:#000;
    --hover-color:#3C0B8C;
    --hover-border-color:#6100FF;
    --placeholder-color: #9A9A9A;
    --badge-color:#EBEBEB;
}