@import "../../Utils/Constants/Color.scss";
.c-footer-main-contaienr {
    display: flex;
    background: linear-gradient(180deg, rgba(32, 8, 145, 0.64) 0%, #130F26 100%);
    color: var(--white-color);
    justify-content: space-evenly;
    padding: 65px;
    li {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 30px;
        padding: 5px 0px;
        cursor: pointer;
    }
    li.c-footer-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 25px;
        padding-bottom: 10px;
        min-height: 40px;
    }
    ul.c-icon-container {
        li {
            text-align: center;
        }
    }
}